* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo {
   margin-left:30px;
   font-weight: 600;
}
.logo:hover {
   color:salmon;
   cursor: pointer;
}
 .container {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin-top:10px;
    background-color:aliceblue;
    position:relative;

 }

 /* .menu {
    display:flex;
    flex-direction: row;
    gap: 40px;
    color: #000;
    text-decoration: none;
 }
 .menu>a { */
    /* text-decoration: none;
 } */
 /* .menu>a:hover {
   color:salmon
 }*/
 .username{ 
 
    background-color:#fff;
    padding: 15px;
    /* border-radius: 10px 10px 10px 10px; */
    margin-right:30px;
    align-items: center;
 }
 .username:hover {
   color:salmon;
   background-color: antiquewhite;
   cursor: pointer;
 }
 .child-container {
    display:flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 40px;
    justify-content:space-around;
    
 }
 .child-container .left {
    width: 50%;
    padding: 50px;
 }
   .child-container .right {
   
    flex: 1 1 50%;
    padding: 50px;
    margin-right: 50px;
   }
   .image {
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 10px 10px;
/*    
      background-position: center;
      object-fit: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      background-origin: border-box; */
}
.left button {

  padding: 10px 20px;
  background-color: aliceblue;
  color: black;
  border: none;
  cursor: pointer;
  /* border-radius: 10px 10px 10px 10px; */
}
.left button:hover {
   background-color: antiquewhite;
   color:salmon;
}

/* Mobile */
@media (max-width: 767px) {

    /* Button */
    .menu-btn{
      background:none;
      border:none;
      cursor:pointer;
    }

    /* Hamburger Lines */
    .hamburger{
      display:flex;
      flex-direction:column;
      gap:5px;
    }

    .hamburger span{
      width:35px;
      height:4px;
      background:#000;
      border-radius:5px;
    }

    /* Menu Box */
    .menu{
      position:absolute;
      top:70px;
      right:20px;
      background:#333;
      width:200px;
      padding:20px;
      opacity:0.1;
      visibility:hidden;
      transform:translatey(-60px);
      transition:all 0.3s ease;
    }

    .menu ul{
      list-style:none;
    }

    .menu ul li{
      margin:15px 0;
    }

    .menu ul li a{
      color:white;
      text-decoration:none;
      font-size:18px;
    }

 .menu-btn:focus + .menu{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}
    .container{
      display: flex;
      justify-content: space-between;
      margin:0px;
      padding:0px;

    }
    .menu>a{
      display: none;
    }
    .username {
      font-size: 14px;
    }
    .logo {
      font-size: 14px;
    }

    .child-container {
      display:flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px !important;
      padding: 0px;
     gap: 0px;
    
    }
    .child-container .left {
      width:100%;
      justify-content: center;
      padding:20px;
    }
    .child-container .right {
      width:100%;
      justify-content: center;
      padding:20px;
    }
    .image {

      background-position: center;
      background-size: cover;
        background-repeat: no-repeat;
        aspect-ratio: 1/1;
    }
    h1 {
      text-align: left;
      font-size: 28px;
    }
    p {
      text-align: left;
      font-size: 14px;
    }
    .button {
        padding: 10px 20px;
        font-size: 14px;
        
    }

    
    
  }

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  
  .menu-btn{
      background:none;
      border:none;
      cursor:pointer;
    }
    
    .hamburger{
      display:flex;
      flex-direction:column;
      gap:5px;
    }
    
        /* Focus Pseudo Class */
   .menu-btn:focus + .menu{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}

       .hamburger span{
      width:35px;
      height:4px;
      background:white;
      border-radius:5px;
    }
    
    .menu-btn{
      display:none;
    }
      .container{
      display: flex;
      justify-content: space-between;
      margin:0px;
      padding:0px;
      position:relative;

    }
    .child-container .left > h1 {
      font-size: 30px;
    }
    .child-container .left > p {
      font-size: 16px;
    }
     
    .child-container .left {
        padding: 20px;
    }
    
    .child-container .right {
        padding: 20px;
    }

    .button {
      padding: 10px 20px;
    }
    .image {
      background-position: center;
      background-size: cover;
        background-repeat: no-repeat;
    ;
    }

    .username {
      font-size: 16px;
    }
    .logo {
      font-size: 16px;
    }

    .menu{
      position:absolute;
  top:70px;
  right:20px;
  background:#333;
  width:200px;
  padding:20px;

  opacity:0;
  visibility:hidden;

  transform:translateY(-10px);

  transition:all 0.3s ease;
    }

    

    

}

/* Desktop */
@media (min-width: 1025px) {
    .menu-btn{
      background:none;
      border:none;
      cursor:pointer;
    }
    
    .hamburger{
      display:flex;
      flex-direction:column;
      gap:5px;
    }
    
        /* Focus Pseudo Class */
   .menu-btn:focus + .menu{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}

       .hamburger span{
      width:35px;
      height:4px;
      background:white;
      border-radius:5px;
    }
    
    
    .container {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    margin-top:10px;
    background-color:aliceblue;
    position:relative;

 }

/* Menu Box */
    /* .menu{
      position:absolute;
  top:70px;
  right:20px;
  background:#333;
  width:200px;
  padding:20px;

  opacity:0;
  visibility:hidden;

  transform:translateY(-10px);

  transition:all 0.3s ease;
    } */
     .menu-btn{
      display:none;
     }

 .menu>a {
    text-decoration: none;
 }
 .menu>a:hover {
   color:salmon
 }
 .username{
 
    background-color:#fff;
    padding: 15px;
    /* border-radius: 10px 10px 10px 10px; */
    margin-right:30px;
    align-items: center;
 }
 .username:hover {
   color:salmon;
   background-color: antiquewhite;
   cursor: pointer;
 }
    .child-container {
        display:flex;
        flex-direction: row;
        gap: 20px;
        padding-top: 40px;
        justify-content:space-around;
        
    }
    .child-container .left {
        width: 50%;
        padding: 50px;
    }
    .child-container .right {
        width: 50%;
        padding: 50px;
    }
    .image {
      background-size: cover;   
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 10px 10px 10px 10px;
    
    }

    .left button {
      font-size: 18px;
      padding: 10px 20px;
      background-color: aliceblue;
      color: black;
      border: none;
      cursor: pointer;
      /* border-radius: 10px 10px 10px 10px; */
    }
    .username {
      font-size: 18px;
    }
    .logo {
      font-size: 18px;
    }
    .menu>a {
      font-size: 18px;
    }

    .child-container .left > h1 {
      font-size: 36px;
    }
    .child-container .left > p {
      font-size: 18px;
    }

     .menu{
      position:absolute;
      top:70px;
      right:20px;
      background:#333;
      width:200px;
      padding:20px;
      opacity:0.1;
      visibility:hidden;
      transform:translatey(-60px);
      transition:all 0.3s ease;
    }

      /* .menu ul{
      list-style:none;
    }

    .menu ul li{
      margin:15px 0;
    }

    .menu ul li a{
      color:white;
      text-decoration:none;
      font-size:18px;
    } */



} 



